:host {
  display: block;
}

.authNotice {
  margin: 0 0 var(--nati-ui-space-1);
  font-size: var(--nati-ui-font-size-md);
  text-align: center;
}

.authNoticeMuted {
  margin: 0 0 var(--nati-ui-space-4);
  font-size: var(--nati-ui-font-size-sm);
  color: var(--nati-ui-color-neutral-600);
  text-align: center;
}

.authSubmit {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
