@use 'ui-components/styles';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: var(--nati-ui-font-family);
  color: var(--nati-ui-color-neutral-900);
  background: var(--nati-ui-color-neutral-50);
}
